{%assign counter=0%}  
        <div class="mob-nav">
              <input class="burger-check" id="mobile-burger" type="checkbox"><label for="mobile-burger" class="burger"></label>
           
        <div class="slide-in-nav">
             <div class="container slide-in">
               {% for item in site.data.lang[site.lang].navigation %} 
                        <div class="row">
                             <div class="col-xs-12">
                                <div class="text-center nav-item">
                                    {% if item.subfolderitems %}
                                    {%assign counter=counter | plus: 1%}
                                <label for="drop{{counter}}">{{ item.title }}<div class="arrow-down"></div></label>
                               <input class="burger-checkdropdown" id="drop{{counter}}" type="checkbox">
                               <div class="mob dropdown-content">
                                  {% for entry in item.subfolderitems %}
                              <a href="{{ entry.url }}">{{ entry.page }}</a>
                                  {% endfor %}
                                </div>
                              {% else %}
                               <a href="{{item.url}}">{{item.title}}</a>
                                {% endif %}
                                </div>
                             </div>
                        </div>
                    {% endfor %}
        </div>
       </div>
</div>
<div class="desktop-nav">
            <nav class="container">
            <div class="topnav">
              <div class="row middle-xs">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-4">
                    <a href="
                    
                    {% if site.lang == 'en' %}
                    
                    {{ site.baseurl_root }}/
                    
                    {% else %}
                    
                    {{ site.baseurl_root }}/{{site.lang}}
                    
                    {% endif %}
                    
                    "><img src="{{ '/img/kovri_logo.png' | prepend: site.baseurl_root }}" alt="The Kovri Project" class="monero-logo"></a>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-12 topnav-list">
                      <div class="row end-xs">
                        <div class="col-xs-4 text-center top-link">
                             <a href="https://getmonero.org" class="mob">Monero</a>
                         </div>
                         <div class="col-xs-4 text-center top-link">
                             <a href="https://github.com/monero-project/meta/blob/master/VULNERABILITY_RESPONSE_PROCESS.md" class="mob">Vulnerability Response</a>
                         </div>
                          <div class="dropdown col-xs-4 text-center language-change">
                            <label for="langdrop">
                            
                            {% for lang in site.languages %}
                            
                                {% if lang == site.lang %}
                            
                                    {% t langs.{{ lang }} %}
                            
                                {%endif%}
                            
                            {%endfor%}
                            
                            <div class="arrow-down"></div></label>
                            <input class="burger-checkdropdown" id="langdrop" type="checkbox">
                            <div class="dropdown-content text-center">
                               {% for lang in site.languages %}
                                {% unless site.lang == lang %}
                                  {% if lang == site.default_lang %}
                                    <a href="{{ site.baseurl_root }}{{ page.url }}.html" >{% t langs.{{ lang }} %}</a>
                                  {% else %}
                                    <a href="{{ site.baseurl_root }}/{{ lang }}{{ page.url }}.html" >{% t langs.{{ lang }} %}</a>
                                  {% endif %}
                                {% endunless %}
                              {% endfor %}
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="botnav white-nav">
                <input class="burger-check" id="burger-check" type="checkbox"><label for="burger-check" class="burger"></label>
                <div class="row between-xs nav-items">
                
                
                {% for item in site.data.lang[site.lang].navigation %} 
                    <div class="col-md-2 dropdown text-center nav-item">
                          {% if item.subfolderitems %}
                            <label for="drop1">{{ item.title }}<div class="arrow-down"></div></label>
                           <input class="burger-checkdropdown" id="drop1" type="checkbox">
                           <div class="dropdown-content">
                              {% for entry in item.subfolderitems %}
                              
                              {% if entry.page == "Doxygen" %}
                              
                              <a href="/doxygen">Doxygen</a>
                              
                              {%else%}
                              
                              <a href="{{ entry.url }}">{{ entry.page }}</a>
                              
                              {%endif%}
                              {% endfor %}
                            </div>
                          {% else %}
                           <a href="{{item.url}}">{{item.title}}</a>
                            {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </nav>
</div>
<div class="mob bot-nav white-nav">
            <div class="row center-xs middle-xs">
                <div class="col-xs-6">
                    <a href="{% if site.lang == 'en' %}
                    
                    {{ site.baseurl_root }}/
                    
                    {% else %}
                    
                    {{ site.baseurl_root }}/{{site.lang}}
                    
                    {% endif %}"><img src="{{ '/img/kovri_logo.png' | prepend: site.baseurl_root }}" alt="" class="monero-logo"></a>
                </div>
                <div class="dropdown col-xs-6 text-center mob-language-change">
                <input class="burger-checkdropdown" id="moblangdrop" type="checkbox">
                 <label for="moblangdrop"><img src="/img/language.png" alt="Lang" class="icon-language"/><div class="arrow-down"></div></label>
                               <div class="mob dropdown-content text-center">
                               {% for lang in site.languages %}
                                {% unless site.lang == lang %}
                                  {% if lang == site.default_lang %}
                                    <a class="mob-lang-change" href="{{ site.baseurl_root }}{{ page.url }}.html" >{% t langs.{{ lang }} %}</a>
                                  {% else %}
                                    <a class="mob-lang-change" href="{{ site.baseurl_root }}/{{ lang }}{{ page.url }}.html" >{% t langs.{{ lang }} %}</a>
                                  {% endif %}
                                {% endunless %}
                              {% endfor %}
                            </div>
                          </div>
            </div>     
        </div>
